*{
    margin: 10px;
}
.corpo{

    background-color: black;
}

.secao{
    color: aliceblue;
}
.cabecalho-geral
{
 background-color: black;
}
.titulo-cabecalho
{
    color: red;
    font-size: 60px;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
}