*{
    margin: 10px;
}
.corpo{

    background-color: rgb(255, 255, 255);
}

.secao{
    color: rgb(0, 0, 0);
}
.cabecalho-geral
{
 background-color: rgb(255, 255, 255);
}
.titulo-cabecalho
{
    color: red;
    font-size: 60px;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
}
.foto{
    width: 28%;
}



